
  .button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color:#A3E4D7;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #A3E4D7}
  
  .button:active {
    background-color: #A3E4D7;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .navbar-nav .nav-item:hover {
    position: static;
    color: fade(white, 80%);
    outline: none;
    background-color: transparent;

  }

  .w3-bar .w3-dropdown-hover,.w3-bar .w3-dropdown-click{
    position:static;
    float:left
  }

  .w3-bar-block .w3-dropdown-hover,
  .w3-bar-block .w3-dropdown-click
  {width:100%}
  .w3-bar-block .w3-dropdown-hover .w3-dropdown-content,
  .w3-bar-block .w3-dropdown-click .w3-dropdown-content{
    min-width:100%
  }
  .w3-bar-block .w3-dropdown-hover .w3-button,
  .w3-bar-block .w3-dropdown-click .w3-button{
    width:100%;
    text-align:left;
    padding:8px 16px
  }

  .w3-dropdown-click,.w3-dropdown-hover{
    position:relative;
    display:inline-block;
    cursor:pointer
  }
  .w3-dropdown-hover:hover .w3-dropdown-content{
    display:block
  }
  .w3-dropdown-hover:first-child,
  .w3-dropdown-click:hover{
    background-color:#ccc;
    color:#000
  }
  .w3-dropdown-hover:hover > .w3-button:first-child,
  .w3-dropdown-click:hover > .w3-button:first-child{
    background-color:#ccc;
    color:#000
  }
  .w3-bar .w3-bar-item{
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0}

  .w3-bar-block .w3-bar-item{
    width:100%;
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;
    white-space:normal;
    float:none;
    outline:0}
.w3-bar-block.w3-center .w3-bar-item{
  text-align:center
}
  .w3-block{
    display:block;
    width:100%}


  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    padding: inherit;
    border: none;
    outline: none;
    margin: 0;
    color: white;
    background-color: inherit;
    font-family: inherit;
  }
  
  .dropdown-content {
    display: none;
    position: relative;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
    color : green;
    margin:0;
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0
  }

  .dropdown-content a {
    float: none;
    color : black;
    text-decoration: none;
    display:inline-block;
    text-align: left;

  }
  
  .dropdown-content a:hover {
    background-color: rgba(78, 76, 57, 0.5);
  }
  
  .dropdown:hover .dropdown-content {
    
    display:inline-block;
    cursor:pointer
  }