/* h1 {
  color:rgb(51, 6, 37);
  background-color: rgb(248, 211, 236);
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
} */

/* Pen-specific styles */

  
  /* body { 
    color: #fff;
    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 150%;
    text-align: center;
    text-shadow: 0 2px 2px #b6701e;
  } */
  ul{
    list-style-type: none;
  }
  .whole{
    display: table;
    width: 100%;
    background-color: #EFE2BA;
  }
  

h1 {
  font-size: 1.75rem;
  padding-top: 15px;
  padding-bottom: 5px;
  margin: 0 0 0.75rem 0;
  color:  #D79922;
}

/* Pattern styles */
.left-half {
  display: table-cell;
  float: left;
  width: 30%;
  padding-top: 12%;
  padding-left:6%;
  padding-right: 4%;
  padding-bottom: 10%;
}
.right-half {
  display: table-cell;
  float: left;
  width: 70%;
  padding-top: 10%;
  padding-left:4%;
  padding-right: 4%;
  padding-bottom: 10%;
}

article {
  position: relative;
  
  
  padding: 1rem;
  text-align: left;
  
}

/*-------------------Image------------------*/
/*top right bottom left*/
.image{
  padding:20px 40px 20px 10px;
}

.image img{
  border-radius: 50%;
}

/*--------------------Text------------------*/
.text{
  padding: 0 6%;
}
.text p:nth-child(1){
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 15px;
}

.text h5{
  padding-top: 10px;
}

.text p:nth-child(4){
  font-size: 12px;
  color: #858585;
  padding-top: 10px;
}

.text p:nth-child(5){
  font-size: 12px;
  color: #858585;
  padding-top: 10px;
  padding-bottom: 10px;
}
/*------Social Icons-------*/
.social-icons{
  font-size: 18px;
  padding-top: 10px;
}
.tag-option{
  font-size: 18px;
  padding-top: 10px;
}

.social-icons a{
  color: #4b4949;
  padding-left: 6px;
}
.tag-option a{
  
  padding-left: 6px;
  display:block;
}

.text span{
  font-size: 12px;
  color: #858585;
  padding-top: 5px;
  text-transform: uppercase;
}
