<!DOCTYPE html>
<!--
<html>
 <head>
  <title>SATITA | NEED A JOB 💗</title>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>
  <script src="index.js"></script>
  <link rel="stylesheet" href="index.css">
  
</head>
-->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://playground.anychart.com/docs/samples/BCT_Tag_Cloud_Chart_16/iframe" rel="canonical">
  <meta content="Tag Cloud,Weighted List Chart,Word Cloud" name="keywords">
  <meta content="AnyChart - JavaScript Charts designed to be embedded and integrated" name="description">

</head>

<body>
    <div id = "container"></div>
    <script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-base.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
    <script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-tag-cloud.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
    <script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-exports.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
    <script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-ui.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
    <script type="text/javascript" src = "funfact.js"></script>


    <p id = "demo">here</p>
    <!--1["Diving Certification", "Got Open Water Diving Certification in 2019!"],-->
    <div class = "to-show" id="hide" onclick="hideit('to-show','0')">
      <a class="post" href="#">
        <h1 class="post-title">Got my Open Water Diving Certification in Aug 2019!</h1>
        <p>
        But funny that I never got the chance to have the physical copy of my diving license, it got delivered from Austrilia to my home in Thailand when I just arrived in New Jersey to pursue my last semester of college
        </p>
      </a>
    </div>

    <!--["2Learnt how to do a video editting in 4hrs", "I really can't think of anything to give for my dad's birthday this year lol, since we are so far away"],-->
    <div class = "to-show" id="hide" onclick="hideit('to-show','1')">
      <a class="post" href="#">
        <h1 class="post-title">
        It's a virtual birthday present for my dad's birthday in 2020. 
        <h1>
        <p>
        I really can't think of anything to give for my dad this year since we are so far away lol. But I am glad I know how to edit a video using iMovie Now~
        </p>  
      </a> 
    </div>

    <!--["3trilingual"],-->
    <div class = "to-show" id="hide" onclick="hideit('to-show','2')">
      <a class="post" href="#">
        <h1 class="post-title">And not excel in any of them </h1>
        <p>just kidding lol</p>
      </a>
    </div>

    <!--["4Really want a job", "It's been so long"],-->
    <div class = "to-show" id="hide" onclick="hideit('to-show','3')">
      <a class="post" href="#">
        <h1 class="post-title">It's like a forced mate where in order to find a job</h1>
        <p>I need some industrial experiences, but as a new grad I DONT HAVE IT... And doing side project by just myself or a group of friends is too time consuming, but I dont have a choice
        </p>
      </a>
    </div>

    <!--5["王者荣耀", "未成年系统王者荣耀打到至尊真的是尽力了(并不是未成年啊啊啊啊 ..上不去了 求带 XD"],-->
    <div class = "to-show" id="hide" onclick="hideit('to-show','4')">
      <a class="post" href="#">
        <h1 class="post-title">
        未成年系统王者荣耀打到至尊真的是尽力了(并不是未成年啊啊啊啊 </h1>
        <p>
        ..上不去了 求带 XD
        in the end.. I tried 
        每天强制下线可还行
        </p>
      </a>
    </div>
    
    <!--6["Proudest Accomplishment", ""],-->
    <div class = "to-show" id="hide" onclick="hideit('to-show','5')">
      <a class="post" href="#">

        <div class="card-container"> 
          <div class="card"><a href="#">
              <div class="card--display"><i class="material-icons">flight</i>
                <h2>11 hrs in Japan</h2>
              </div>
              <div class="card--hover">
                <h2>11 hr Connection Flight</h2>
                <p>09/4/2019 - the day where I have to fly back to New Jersey to finish my last semester at Rutgers. I bought a flight that need to stop in Japan for 11 hrs and also need to transfer from HND airport to NRT airport by myself.
                <br>
                The plane arrived at 5am and departure at 5pm. I thought it would be a perfect timing to feel the <i>real</i> Japan.
                <br>
                And I went, without any schedule ahead of time. I didn't even know what to take HND from to NRT...</p>
                <p class="link">Click to see full blog</p>
              </div></a>
            <div class="card--border"></div>
          </div>
        </div>
        <div class="card-container"> 
          <div class="card"><a href="#">
              <div class="card--display">
                <i class="material-icons">fitness_center</i>
                <h2 style="opacity: 1;">Loss 13kg / 28lb in 1 yr</h2>
              </div>
              <div class="card--hover">
                <h2>Loss 13kg / 28lb in 1 yr</h2>
                <p>This result actually amaze me how easy losing weight is. <br>
                Use my procrastination as a way to loss weight: <b>whenever I don't feel like study, I go to the gym or clean my room :)</b>
                <br>
                Now I just trying to get abs 
                <br>
                There always a new goal lol
                </p>
                
              </div></a>
            <div class="card--border"></div>
          </div>
        </div>
        <div class="card-container"> 
          <div class="card"><a href="#">
              <div class="card--display"><i class="material-icons">favorite_border</i>
                <h2>This Awesome Website!</h2>
              </div>
              <div class="card--hover">
                <h2>This Awesome Website!</h2>
                <p> I have planned to build a personal website since 09/2019, have tried to implement in so many ways. And finally deployed it in 09/2020！
                <br>
                To be honest, a website doesn't take that long. The current verison of this website only took me less than a month. 
                <br>
                The hard part is to find the right way before you start!
                </p>
                <p class="link">Click to see the full blog about this~</p>
              </div></a>
            <div class="card--border"></div>
          </div>
        </div>   
    <!------------------->
      </a>
    </div>

    <!--7["Challengesss", ""],-->
    <div class = "to-show" id="hide" onclick="hideit('to-show','6')">
      <a class="post" href="#">
        <h1 class="post-title">
        CSS is a real hard, love Java
        </h1>
      </a>
    </div>

    <!--["Can't Believe that", "I AM ALLERGIC TO VA :) the virginia state, I really have no idea"],-->
    <div class = "to-show" id="hide" onclick="hideit('to-show','7')">
      <a class="post" href="#">
        <h1 class="post-title">
        Believe it or not...</h1>
        <p>
        I am ALLERGIC to VA, the state, Virginia.
        Really have no idea what I am allericing to
        </p>
      </a>
    </div>
    
    <!--["Extremely interested in...", "CyberSecurity!"],-->
    <div class = "to-show" id="hide" onclick="hideit('to-show','8')">
      <a class="post" href="#">
        <h1 class="post-title">CyberSecurity! </h1>
        <p>And yet there is another forced mate here</p>
      </a>
    </div>

    <!--["Bake lover", "just love following the receipts"],-->
    <div class = "to-show" id="hide" onclick="hideit('to-show','9');">
      <a class="post" href="#">
        <h1 class="post-title">
        I guess I do have a talent in baking💗~ Check out my baker page!
        </h1>
      </a>
    </div>
  
    <!--["Potential Dress DESIGNER!", "--img & link"],-->
    <div class = "to-show" id="hide" onclick="hideit('to-show','10');">
      <a class="post" href="#">
        <p class="post-title" style="font-size: 1.2rem">
        When I was in middle school back in Beijing, I was seriously planning to become a dress designer in the future. I tried to design pretty dresses and actually tried to made one. But I still don't know how to use a sewing machine haha. It is so hard to not break that needle 
        </p>
      </a>
    </div>
</body>
</html>