<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@600&family=Dancing+Script&family=Exo:wght@700&family=Grenze+Gotisch:wght@300&display=swap" rel="stylesheet"><header class="masthead">
    <!--flying birds-->
    <div class="bird-container bird-container--one">
        <div class="bird bird--one"></div>
    </div>
    <div class="bird-container bird-container--two">
        <div class="bird bird--two"></div>
    </div>   
    <div class="bird-container bird-container--three">
        <div class="bird bird--three"></div>
    </div>
    <div class="bird-container bird-container--four">
        <div class="bird bird--four"></div>
	</div>
<!--
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">WELCOME</h1> 
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Here are some of the things I have done, feel free to leave a comment or suggestion at the end 🥳</h2>
        <a href="#about"><button class="button btn-primary js-scroll-trigger"><span>START </span></button></a>
        </div>
    </div>
    -->
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-left">
        <h1 class="mx-auto my-0">
            I am a full stack developer, designer, and illustrator; Studied at Rutgers University with a double major in Computer Science and Finance;
            <br>Have interest in so many things that I want to explore them all!
        </h1> 
        <br>
        <p class="text-white-50 mx-auto mt-2 mb-5" style="text-align:left;" >
            <b>Skill Set : <br>
            Programming Language : </b> Java, Python, C, Latex, C#, SQL, JavaScript, TypeScript, HTML, CSS <br>
            <b>Frameworks : </b>.NET Core, Angular, Angular-Cli, Entity Framework Core, ASP.NET Core Web API, Bootstrap<br> 

        </p>
        
        <div class="arrows"></div>
        <!--
        <div class="col-lg-6">
            <img class="img-fluid" src="assets/img/ZEPETO1.PNG" alt="">
        </div>

        -->
        <div class="bottomright">
            <img src="assets/img/ZEPETO_CAPTURE 6.PNG" alt="" width=306px height=546px>
        </div>
        <div class="bottomleft">
            <img src="assets/img/kitty.PNG" alt="" width=403.2px height=301.9px>
        </div>

        
            
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="about-section text-center">
<div class="container">

    <div class="row">
    <div class="col-lg-8 mx-auto">
    <h2 class="text-white mb-4">接下来就是project了呢:)</h2>
        
    </div>
    </div>
    
</div>
</section>

<!-- Projects Section -->
<section id="games" class="projects-section bg-light extend-lg">
    <div class="container">

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7">
                    <img class="img-fluid mb-3 mb-lg-0" src="assets/img/bg-masthead.jpg" alt="">
            </div>
        
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Coming Soon</h4>
                    <p class="text-black-50 mb-0">Comming Soon...</p>
                </div>
            </div>
        </div>

        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6">
                <img class="img-fluid" src="assets/img/demo-image-01.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Coming Soon</h4>
                            <p class="mb-0 text-white-50">Comming Soon...</p>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
            <div class="col-lg-6">
                <img class="img-fluid" src="assets/img/demo-image-02.jpg" alt="">
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Coming Soon</h4>
                            <p class="mb-0 text-white-50">Comming Soon...</p>
                            <hr class="d-none d-lg-block mb-0 mr-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
