@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@600&family=Dancing+Script&family=Exo:wght@700&family=Grenze+Gotisch:wght@300&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
}

/*stylesheet for putting things in the corner of the page*/
.bottomright {
	position: absolute;
	top: 45%;
	left: 75%;
  }

.bottomleft {
	position: absolute;
	top: 70%;
	right: 70%;
}
  
/*start of down arrow*/
.arrows {
	position: relative;
	position: absolute;
	top: 80%;
	left: 50%;
	width: 80px;
	height: 80px;
	transform: translate(-50%, -50%);
  }
  
  .arrows:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	border-left: 26.66667px solid rgba(0, 0, 0, 0.7);
	border-bottom: 26.66667px solid rgba(0, 0, 0, 0.7);
	transform: translate(26.66667px, 106.66667px) rotate(-45deg);
	animation: arrows 1.5s linear infinite;
  }
  
  .arrows:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	border-left: 26.66667px solid rgba(0, 0, 0, 0.7);
	border-bottom: 26.66667px solid rgba(0, 0, 0, 0.7);
	transform: translate(53.33333px, 0px) rotate(-45deg);
	animation: arrows 1.5s linear infinite -0.75s;
  }
  
  @keyframes arrows {
	0% {
	  border-left: 26.66667px solid transparent;
	  border-bottom: 26.66667px solid transparent;
	  transform: translate(-13.33333px, -53.33333px) rotate(-45deg);
	}
	10%, 90% {
	  border-left: 26.66667px solid transparent;
	  border-bottom: 26.66667px solid transparent;
	}
	50% {
	  border-left: 26.66667px solid rgba(0, 0, 0, 0.7);
	  border-bottom: 26.66667px solid rgba(0, 0, 0, 0.7);
	  transform: translate(-13.33333px, 0px) rotate(-45deg);
	}
	100% {
	  border-left: 26.66667px solid transparent;
	  border-bottom: 26.66667px solid transparent;
	  transform: translate(-13.33333px, 53.33333px) rotate(-45deg);
	}
  }
	

/*end of arrow bounce*/

.bird {
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
	background-size: auto 100%;
	width: 88px;
	height: 125px;
	will-change: background-position;
	animation-name: fly-cycle;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;
}

.bird--one {
	animation-duration: 1s;
	animation-delay: -0.5s;
}

.bird--two {
	animation-duration: 0.9s;
	animation-delay: -0.75s;
}

.bird--three {
	animation-duration: 1.25s;
	animation-delay: -0.25s;
}

.bird--four {
	animation-duration: 1.1s;
	animation-delay: -0.5s;
}

.bird-container {
	position: absolute;
	top: 20%;
	left: -10%;
	transform: scale(0) translateX(-10vw);
	will-change: transform;
	animation-name: fly-right-one;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.bird-container--one {
	animation-duration: 15s;
	animation-delay: 0;
}

.bird-container--two {
	animation-duration: 16s;
	animation-delay: 1s;
}

.bird-container--three {
	animation-duration: 14.6s;
	animation-delay: 9.5s;
}

.bird-container--four {
	animation-duration: 16s;
	animation-delay: 10.25s;
}

@keyframes fly-cycle {
	100% {
		background-position: -900px 0;
	}
}

@keyframes fly-right-one {
	0% {
		transform: scale(0.3) translateX(-10vw);
	}

	10% {
		transform: translateY(2vh) translateX(10vw) scale(0.4);
	}

	20% {
		transform: translateY(0vh) translateX(30vw) scale(0.5);
	}

	30% {
		transform: translateY(4vh) translateX(50vw) scale(0.6);
	}

	40% {
		transform: translateY(2vh) translateX(70vw) scale(0.6);
	}

	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.6);
	}

	60% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}

	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
}

@keyframes fly-right-two {
	0% {
		transform: translateY(-2vh) translateX(-10vw) scale(0.5);
	}

	10% {
		transform: translateY(0vh) translateX(10vw) scale(0.4);
	}

	20% {
		transform: translateY(-4vh) translateX(30vw) scale(0.6);
	}

	30% {
		transform: translateY(1vh) translateX(50vw) scale(0.45);
	}

	40% {
		transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
	}

	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.45);
	}

	51% {
		transform: translateY(0vh) translateX(110vw) scale(0.45);
	}

	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.45);
	}
}

.button {
  border-radius: 4px;
  background-color:#A3E4D7;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

